manim/media/
*exports/
*tmp/

.idea

postproduction/rendered-files

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.code-workspace


*tmpTex

# Auto-checkpoint temp files
._*_mce_checkpoint.py